quitOnTopLevelReturn: true
customCommands:
  - key: "C"
    command: "git cz"
    description: "commit with commitizen"
    context: "files"
    loadingText: "opening commitizen commit tool"
    output: terminal
  - key: "E"
    description: "Add empty commit"
    context: "commits"
    command: 'git commit --allow-empty -m "**EMPTY** empty commit"'
    loadingText: "Committing empty commit..."
  - key: "F"
    command: "git fetch --prune"
    context: "localBranches"
    output: log
git:
  pagers:
    - colorArg: always
      pager: diff-so-fancy
gui:
  nerdFontsVersion: "3"
